main{
    background-color: var(--bg_body);
    color: var(--body-text);
    padding: 3%;
}
.mainContainer {
    background-color: var(--bg_body);
}
body{
    min-height: 100vh;

}
.bodyContainer{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}


.searchBar {
    display: flex;
    align-items: center;
    background-color:var(--bg_default);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    
    border-radius: 10px;
    border: 1px solid var(--lines-color);
    justify-content: space-between;
    padding: 3px;
    
}
form{
    justify-content: flex-start;
    align-items: center;
}

.selectors{
    display: flex;
    border-radius: 4px;
    
}

.select , select{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid var(--lines-color);
    align-items: flex-start;
    min-width: 160px;
    width: 100%;

    background-color: var(--bg_default);
}
ion-icon{color: var(--body-text);

}
select{
    border: none;
    background: none;
    padding-left: 8px;
    color: var(--body-text);
}
.searchBar button {
    background-color: var(--bg_default);
    border: 0;
}

.searchBar select {
    border-radius: 4px;
    background-color: var(--bg_default);
    border-style: hidden; 
    color: var(--body-text);
}
.searchSpace{
    border: none;
    background: none;
    outline: none;
    padding: 0;
}
.label{
    font-size: 0.7rem;
    padding-left: 11px;
}

@media screen and (max-width:600px){
    
    .searchBar{
        flex-direction: column;
        object-fit: fill;
    }
    .selectors{
        object-fit: scale-down;
    }
    form{
        justify-content: flex-start;
        align-items: center;
    }
    
}


.innerContainer{

    background-color: var(--bg_body);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.3rem;

}
.card{
    box-sizing: border-box;
  float: left;
  text-align: left;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--bg_default);
  overflow: hidden;
  box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
    0 10px 10px var(--lines-color) (0, 0, 0, 0.05)
}
.courseImage{
    width: 100%;
    height: 175px;
    overflow: hidden;
    align-items: center;
justify-content: center;
display: flex;
  
    }

.courseImage img{
    width: 100%;
     height: 100%; 
    /* height: auto; */
    object-fit: cover;
    
}

.courseInfo{
    padding: 15px;
}

.starShap{
    color: #ff9f43;
}
ul{
    display: flex;
    list-style: none;
    padding-top: 0;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 0px;
      
}

li {
    padding-top: 32px;
  }

