.topic{
    box-sizing: border-box;
  float: left;
  text-align: left;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--bg_default);
  overflow: hidden;
  box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
    0 10px 10px var(--lines-color) (0, 0, 0, 0.05)
}
.topic-img{
    width: 100%;
    height: 175px;
    overflow: hidden;
    align-items: center;
justify-content: center;
display: flex;
  
    }

.topic-img img{
    width: 100%;
     height: 100%; 
    object-fit: cover;
    
}

.information-for-topic{
    padding: 15px;
}
