@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
font-family: 'Nunito Sans';
--brand-primary: #0768AC;
--brand-secondary: #03C180;
--bg_default: #FFFFFF;
--bg_body: #F0F9FF;
--lines-color: #DDDDDD;
--body-text: #333333;
--heart-color: #DC143C;
--bg_courseBreaf:#333333;
--white:white;
--black:black;
}
*{
margin: 0px;
padding: 0px;
}