.search-bar {
    display: flex;
    align-items: center;
    background-color:var(--bg_default);
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    
    border-radius: 10px;
    border: 1px solid var(--lines-color);
    justify-content: space-between;

    
}

.filters{
    display: flex;
}