.navBtn{
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 3px 8px;
    background-color: var(--bg_default);
    border: 0.8px solid var(--body-text);
    border-radius: 5px;
    color: var(--body-text); 
    cursor: pointer;
}

